# systemd service for managing all jenkins autoconfiguration.

[Unit]
Description=Jenkins Configuration Autodiscovery
Requires=jenkins.service
PartOf=jenkins.service
ReloadPropagatedFrom=jenkins.service
Before=jenkins.service

[Service]
Type=notify
ExecStart=/usr/bin/flock -s /etc/device/service/app/jenkins/ /usr/bin/sequence -s daemon.info -b /usr/libexec device/autodiscovery/jenkins.d start
ExecReload=/usr/bin/flock -s /etc/device/service/app/jenkins/ /usr/bin/sequence -s daemon.info -b /usr/libexec device/autodiscovery/jenkins.d reload
ExecStop=/usr/bin/flock -s /etc/device/service/app/jenkins/ /usr/bin/sequence -s daemon.info -b /usr/libexec device/autodiscovery/jenkins.d stop
RemainAfterExit=on

[Install]
WantedBy=multi-user.target

